@{
    ViewData["Title"] = "Carga de Usuarios";
}

<h2>Carga de usuarios desde archivo TXT</h2>

<form asp-action="EnviarArchivo" method="post" enctype="multipart/form-data">
    <div style="margin-bottom: 20px;">
        <input type="file" name="archivo" accept=".txt" required />
    </div>

    <button type="submit" class="btn btn-primary btn-icon" title="Subir archivo">
        <img src="~/img/subir.png" alt="Subir archivo" style="width: 30px; height: 30px;">
    </button>

    @if (TempData["Mensaje"] != null)
    {
        <div style="color: green; margin-bottom:10px;">
            @TempData["Mensaje"]
        </div>
    }

</form>

<style>
    .btn-icon {
        width: 60px;
        height: 60px;
        border-radius: 60%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-icon img {
            max-width: 50%;
            max-height: 50%;
        }
</style>

<a asp-controller="Rabbit"
   asp-action="Cargas"
   class="btn btn-primary">
   Archivos cargados
</a>

